<a id = "0"></a>
目录

- [1.概念](#1)
- [2.操作](#2)
- [3.MySQL-书](#3)

<a id = "1"></a>
# [1.数据库  概念](#0)

https://zhuanlan.zhihu.com/p/23713529?refer=passer
<img src = "./img/数据库.jpg" width = "77%">

# 1.什么是存储过程和函数，有哪些优缺点

- 一条或者多条SQL语句的合集

<a id = "2"></a>
# [2.数据库操作](#0)

<a id = '3'></a>
# [3.MySQL - 书](#0)


- [第一章   数据库概览](#3.1)
- [第三章   MySQ基本操作](#3.3)
- [第四章   MySQL数据库中存储引擎和数据类型](#3.4)
- [第五章   表的操作](#3.5)
- [第六章   索引的操作](#3.6)
- [第七章   视图的操作](#3.7)
- [第八章   触发器的操作](#3.8)
- [第九章   数据的操作](#3.9)
- [第十章   单表数据记录查询](#3.10)
- [第十一章  多表数据记录查询](#3.11)

- 语句结束标志
    - ; 
    - \g
    - \G

<a id = "3.1"></a>
## [第一章 数据库概览](#3)

数据
- 文档型 ：sqlite ,就是一个文件
- 服务型 ：mysql,（服务端+客户端）

#### E-R模型  
E:entry，实体  
R：relationship，关系

关系：
- 一对一
- 一对多
- 多对多


#### 三范式：数据库设计规范
- 第一范式（1NF)： 列不可拆分
- 第二范式（2NF):  唯一标识
- 第三范式（3NF)： 引用主键  
说明：后一个范式，都是前一个范式的基础上建立的


#### 完整性

保证数据正确
- 指定数据类型
    - 数字：int，decimal浮点
    - 字符串：char固定,varchar可变,text大文本
    - 日期：datetime 
    - 布尔：bit
- 约束
    - 主键 primary key
    - 非空 not null
    - 唯一 unique
    - 默认 default
    - 外键 foreign key

<a id = "3.3"></a>
##  [第三章 MySQL基本操作](#3)

- 启动   
`sudo service mysql start`    
`mysql -uroot`  

- 创建  
`create Database database_name ;`
- 查询  
`show Databases;`
- 切换  
`use database_name;`
- 删除  
`drop database database_name;`
- 加载本地数据库  
`source 目录`

<a id = '3.4'></a>
## [第四章 MySQL数据库中存储引擎和数据类型](#3)

#### 存储引擎
- 安装包mysql默认为InnoDB
- 免安装版默认为 MyISAM

#### 数据类型
- 日期类型
    - data
    - datatime
    - timestamp
    - time
    - year

<a id = '3.5'></a>
##  [第五章 表的操作](#3)

####  5.1 表的基本概念
- 列（columns): 也称属性列 创建时需要指定列的名字和属性 
- 索引（Indexes);
- 触发器（Triggers):

#### 5.2 创建表

- 创建表  
`create table table_name(属性名 数据类型，....)`


- 查看表结构    
` describe table_name` 简写 `desc table_name`


- 查看表详细定义    
` show create table table_name`


- 删除表  
` drop table table_name`


#### 5.5 修改表

- 修改表名  
`alter table old_talbe_name rename [to] new_table_name`  


- 增加字段（列常被称为字段）  
1.增加在最后  
`alter table table_name add 属性名 类型`  
2.增加在最前  
`alter table table_name add 属性名 类型 first`    
3.在表的指定字段后添加  
`alter table table_name add 属性名 类型 after 属性名`  



- 删除字段  
 ` alter table table_name droop 属性名`  
 
 
- 修改字段   
1.修改字段数据类型  
` alter table table_name modify 属性名 数据类型`  
2.修改字段名字   
` alter table table_name  change 旧属性名 新属性名 旧数据类型`  
3.同时修改名字和类型   
` alter table table_name change 旧属性名 新属性名 新数据类型`  
4.修改字段顺序  
`alter table table_name modify 属性名1 数据类型 first|after 属性名2`  


#### 5.7 操作表的约束

1.设置非空约束（not null ,NK)
> 字段不希望设置

`create table table_name （属性名 类型  not null);`

2.设置字段的默认值（default)
> 能自动添加的默认值

`create table table_name (属性名 类型 default 默认值);`

3.设置唯一约束（UNIQUE,UK)  
> 字段内容不允许重复  

`create table table_nama (属性名 数据类型 unique....);`  
添加唯一约束的标识符  
` 属性名 数据类型, constraint 标识符 unique(属性名)`


4.设置主键约束 （primary key, pk)
>数据库中某个字段来唯一标识所有记录

- 单字段主键   
` create table table_name （ 属性名 数据类型primary key ,.....);`  

添加PK约束束的标识符  
` 属性名 数据类型, constraint 标识符 primary key(属性名)`  


- 多字段主键

` constraint 约束名 primary key(属性名1，属性名2，...)`


5.设置字段自动增加( auto_increment)  
> mysql中唯一扩展的完整性约束，一个数据库表只有能有一个。必须是整数   
 `在属性后添加`
 
6.设置外键约束（foreign key ,fk)  
> 设置两个表的父子关系，两个表中两个字段的参照关系。

` constraint 外键约束名 foreign key (属性名1） references 表名（属性名2）`

 <a id = '3.6'></a>
 ## [第六章 索引的操作](#3)

#### 6.1 介绍
> 类似目录，用于提高表检索数据的速度。创建在数据库表对象上，由表中一个字段或多个字段生产的键组成。


1. 根据存储类型分类
    - B型树索引（BTREE)
    - 哈希索引（HASH)
    
2. MySQL支持（普通、唯一、全文、单列、多列、空间）六种索引
3. 适合创建索引的情况
    - 经常被查询的字段，即在where子句中出现的字段
    - 在分组的字段，即在group by子句中出现的字段
    - 存在依赖关系的子表和父表之间的联合查询，即主键和外键字段
    - 是指唯一完整性约束的字段
4. 不适合创建索引的情况
    - 在查询中很少被使用的字段
    - 拥有许多重复值的字段
    
#### 6.2 创建和查看索引

1. 普通索引（不附加条件的索引）  
1.1 创建表后添加  
`index|key 【索引名】(属性名1 【长度】 【asc|desc】)`  
注： idex和key都可以，长度用来指定索引长度，asc升序排序，desc降序排序，【可省略】  
1.2 旧表增加  
` create index 索引名 on 表名（属性名 【长度】 【asc|desc】)`  
1.3 alter 创建  
`alter table table_name add index|key (属性名 【长度】 【asc|desc】）`

#### 6.3 创建和查看唯一索引
限制索引的值必须唯一，可以更快查询记录。
- 自动索引：设置完整性约束后，会自动创建索引
- 说动索引：

比普通索引多了个关键字`unique `
`unique index|key`

#### 6.4 创建和查看全文索引
全文索引主要关联在数据类型char，varchar和text上，以便能查询数据量较大的字符串类型的字段。只能在存储引擎为MyISAM上的数据库使用。默认不区分大小写



比普通索引多了个关键字`fulltext `
`fulltext index|key`

#### 6.4 创建和查看多列索引
`index|key 【索引名】 （属性名1 【长度】 【asc|desc】， ....属性名n 【长度】 【asc|desc】)`

#### 6.5 删除索引
`drop index index_name on table_name`

<a id = '3.7'></a>
## [第七章 视图的操作](#3)

- 视图的相关概念；
- 视图的基本操作：创建、查看、更新和删除。

#### 7.1.视图介绍
1. 为了提高复杂SQL语句的复用性和表操作的安全性，提供了视图特性。
2. 本质是一个虚拟表，但是并不在数据库以存储得到方式存在
3. 特点：
    - 视图可以来自不同表，是表的抽象和逻辑意义上建立的新关系
     视图是由基本表（实表）产生的虚表
    - 视图的建立和删除不影响基本表
    - 视图内容-的更新（添加、删除、修改)直接影响基本表
    - 当视图来自多个表，不允许添加和删除数据

#### 7.2. 创建视图
` create view view_name as 查询语句`

#### 7.2. 查看视图
`desc view_name`

#### 7.4. 删除视图
`drop view view_name 【,view_name2】....`

<a id='3.8'></a>
## [第八章   触发器的操作](#3)

#### 8.1.介绍
触发器：MySQL的数据对象之一，需要声明、执行。由事件触发
- delete
- insert
- update

#### 8.2. 创建触发器
trigger_stmt: 触发后执行的语句
```SQL
create trigger trigger_name
    before|after trigger_event
       on table_name for each row trigger_stmt
```

#### 8.3. 查看触发器
`show triggers`

#### 8.4. 删除触发器
`drop trigger trigger_name`

<a id ='3.9'></a>
## [第九章   数据的操作](#3)

#### 9.1. 插入数据记录
> 字符串需要加引号

1. 插入记录（包括插入部分，完整和多条记录）
```SQL 
insert into table_name(field1,fild2,.....)
    values(value11,value21,...),
        (value12,value22,....),
        ...
        (value1m,value2m,....)
```

从查询结果插入
```SQL 
insert into table_name(field1,fild2,.....)
    select(field1,fild2,.....)
        form table2_name
        where condition
```
#### 9.2. 更新数据记录   

```SQL
update table_name
    set field1 = value1,
       field2 = value2,
       ....
       fieldm = valuem
    where codition
```

#### 9.3.删除数据记录
`delete from table_name where condition`

<a id = '3.10'></a>
## [第十章   单表数据记录查询](#3

#### 10.1. 简单数据记录查询
`select 【distinct】 *|field1 field2 ... from table_name`
- 支持四则运算，如：field*10
- concat设置显示格式

#### 10.2.条件数据记录查询
`select field1 field2..... from table_name where condition`
- 注意：不等于（!=和<>)如：wehere job = 'clerk' and sal > = 18
- wehere  【not】  bertween value1 and value2
- 逻辑 与：and（&&） 或：or(||) 异或：xor 非：not（！）
- 空值：is null
- in: 查询数值是否在集合中
- like：模糊查询‘-’：通配单字符 ‘%’： 通配任意字符

#### 10.3.排序数据记录查询
`select columns from table where order by 【desc|asc】`



#### 10.5内置函数
`select max(salary) as max_salary, min(salary) from employee`

- count 
- sum 
- avg
- max 
- min

### 3.8实验楼 子查询
```SQL
SELECT of_dpt,COUNT(proj_name) AS count_project 
FROM project GROUP BY of_dpt
HAVING of_dpt IN
(SELECT in_dpt FROM employee WHERE name='Tom');
```

<a id = '3.11'></a>
## [第十一章  多表数据记录查询](#3)

```SQL
SELECT id,name,people_num
FROM employee JOIN department
ON employee.in_dpt = department.dpt_name
ORDER BY id;
```